.esri-bookmarks__authoring-delete-button{
    display: none !important;
}

.bookmark-tool-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    z-index: 1000;
  }
.htmlContent {


    .icon_container {
        &.icon_container_image {
            > span.img.bookmark_icon_edit {
                 background-image: url('../../../style//images/edit.svg');
            }

            > span.img.bookmark_icon_delete {
                 background-image: url('../../../style//images/trash-03.svg');
                width: 5rem;
                height: 5rem;
            }

            > span.img.bookmark_icon_share {
                background-image: url('../../../style//images/share.svg');
                width: 5rem;
                height: 5rem;
            }
        }
    }
}
.bookmark-tool-container.hidden {
    display: none;
  }
  
  .bookmark-tool-container.visible {
    display: block;
    /* Add any other styling you want for the visible state */
  }