.featurePopup_container {
    // background: white;
    background-color: #231d49;
    border-radius: .75rem;
    min-width: 220px;
    max-width: 300px;
    box-shadow: 0 0rem .5rem rgba(0, 0, 0, .5);

    >.card {
        border-radius: .75rem;
        background-color: transparent;
        color: var(--gray_100);

        > .card-header {
            font-size: .8rem;
            color: var(--gray_100);
        }

        .card-footer {
            border-color: var(--gray_800);
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .no {
                margin: 0 .5rem;
                font-size: .65rem;
            }

            img {
                height: .85rem;
                filter: invert(1);
                [dir=rtl] & {
                    transform: rotate(180deg);
                }

                &.disabled,
                &:disabled {
                    opacity: .5;
                }
            }
        }
    }

    .btn_feature {
        border-radius: 0.5rem;
        width: 25px;
        height: 25px;
        padding: 4px;

        &.active {
            background-color: var(--primary_500);
        }
    }

    .data_row {
        font-size: .75rem;
    }
}