.trace-result {
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
}

.trace-result h4 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 1.5rem;
  color: #2c3e50;
  font-weight: 600;
}

.trace-result .folder-icon {
  margin-right: 8px;
}

.trace-result .starting-point-id {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}

.trace-result .starting-point-id code {
  background-color: #eaeaea;
  padding: 2px 6px;
  border-radius: 4px;
  // font-family: monospace;
  font-size: 0.6rem;
}

/* Trace Type section */

.trace-result .trace-type-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--zinc-100, #f4f4f5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  &:first-child {
    border: 0;
  }
}
.trace-result .trace-type-header.expanded {
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}

.trace-result .trace-id {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin: 0;
}
.starting-point-box {
  .trace-id {
    color: var(--gray_800);
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: 600;
  }
}
.trace-result .color-box-container {
  display: flex;
  align-items: center;
}
.trace-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  .title-img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
.trace-result .color-box {
  width: 16px;
  height: 16px;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.trace-result .color-picker-popup {
  position: absolute;
  // left: 110%;
  top: 8%;
  gap: 8px;
  z-index: 9000;
  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 10px 15px 0px rgba(31, 41, 55, 0.1),
    0px 4px 6px 0px rgba(31, 41, 55, 0.05);
  padding: 1rem;
  width: 240px;
}

/* LTR (default) */
.trace-result .color-picker-popup.ltr {
  left: 110%;
  right: auto;
  text-align: left;
}

/* RTL override */
.trace-result .color-picker-popup.rtl {
  left: auto;
  right: 110%;
  text-align: right;
}


.trace-result .color-option {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

/* Network Source ID section */
.trace-result .layer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  /* color: #34495e; */
  color: var(--gray_800);
  background: #e5e5e5;
  transition: background-color 0.2s ease;
  // padding: 0.5rem 1rem 0.5rem 1.2rem;
  font-size: 0.75rem;
  border-bottom: 1px solid #ffff;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  [dir="rtl"] & {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
}
/* Asset Group Code section */

.trace-result .group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0.5rem 1rem 0.5rem 2rem;
  border-bottom: 1px solid #ffff;
  background-color: #e5e5e5;
  cursor: pointer;
  font-weight: 500;
  color: #eef2ff;
  transition: background-color 0.2s ease;
  font-size: 0.75rem;
  padding: 0.5rem 1rem 0.5rem 3.5rem;
  [dir="rtl"] & {
    padding: 0.5rem 3.5rem 0.5rem 1rem;
  }
}

/* Asset Type Code section */
.trace-result .asset-types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trace-result .asset-type {
  background-color: #e5e5e5;
}

.trace-result .type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #4a5568;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  // padding: 0.5rem 1rem 0.5rem 2.5rem;
  padding: 0.5rem 1rem 0.5rem 4.5rem;
  [dir="rtl"] & {
    padding: 0.5rem 4.5rem 0.5rem 1rem;
  }
}

/* Elements list */
.trace-result .elements-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f5f5f4;
  // padding: 0 1rem;
  padding: 0 1.5rem;
}

.trace-result .element-item {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 0.5px solid #d4d4d4;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  &:last-child {
    border-bottom: 0;
  }
}

/* Object Header */
.trace-result .object-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
}

/* Element details */
.trace-result .element-item pre {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  margin-top: 8px;
}

/* Empty results */
.trace-result .no-results {
  text-align: center;
  color: #666;
  padding: 1rem;
  border: 0;
  background: transparent;
}

/* Icons for expanded/collapsed states */

.trace-result .group-header span {
  font-size: 0.75rem;
  color: var(--gray_800);
}
.trace-result .type-header span,
.trace-result .object-header span {
  font-size: 0.75rem;
  color: var(--gray_800);
}
/* Styles for the element details table */
.trace-result .element-details-table {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: small;
}

.trace-result .element-details-table table {
  width: 100%;
  border-collapse: collapse;
}

.trace-result .element-details-table td {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.trace-result .element-details-table td.detail-key {
  font-weight: 600;
  color: #2c3e50;
  width: 30%;
}

.trace-result .element-details-table td.detail-value {
  color: #4a5568;
  word-break: break-word;
}

.trace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 1rem 0.6rem;
  border-bottom: 1px solid #a3a3a3;
  [dir="rtl"] & {
    padding: 0 0.6rem 1rem 1rem;
  }
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    h4 {
      color: var(--gray_800);
      font-size: 1.125rem;
      margin: 0;
    }
  }
  .result-header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.symbol-properties {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1rem;
    border: 0;
    padding: 0;
    span {
      color: var(--gray_800);
      font-size: 0.75rem;
      font-weight: 700;
    }
    .close-button {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: #999;
    }
  }

  .section-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .stoke-label {
      font-size: 0.75rem;
    }
    .input-row {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      input {
        padding: 4px 6px;

        width: 60px;
        border-radius: 4px;
        border: 1px solid #e5e7eb;
        /* shadow-base */
        box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
      }
      span {
        color: #6b7280;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  .section label {
    display: block;
    margin-bottom: 6px;
    color: #666;
  }

  .color-preview {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    .color-circle {
      border-radius: 100px;
      border: 2px solid #fff;
      background: #6366f1;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25);
      width: 24px;
      height: 24px;
    }
    select {
      width: 60px;
      border-radius: 4px;
      border: 1px solid #e5e7eb;
      background: #fff;
      /* shadow-base */
      box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
      padding: 4px 6px;
      margin-bottom: 0;
    }
    input {
      width: 95px;
      padding: 4px 6px;
      border-radius: 4px;
      border: 1px solid #e5e7eb;
      background: #fff;
      /* shadow-base */
      box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
    }
  }
  .color-input {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  .transparency-value {
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
  }

  .reset-button {
    border-radius: 12px;
    border: 1px solid var(--stone-300, #d6d3d1);
    height: 32px;
    padding: 12px 16px;
    background: #fff;
    color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 1rem;
    margin-inline-start: auto;
    gap: 0.5rem;
    &:hover {
      background: #fff !important;
    }
  }
  .transparency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    label {
      color: #374151;
      font-size: 0.75rem;
      font-weight: 500;
    }
    .input-number {
      width: 60px;
      border-radius: 4px;
      border: 1px solid #e5e7eb;
      box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
      padding: 4px 6px;
    }
  }
  .input-row {
    input {
      width: 100%;
    }
  }
}
.react-colorful {
  width: 100%;
}
.react-colorful__saturation {
  border-radius: 4px;
}
.react-colorful__last-control {
  border-radius: 8px !important;
  height: 14px !important;
  margin-top: 1rem;
}
.react-colorful__pointer {
  width: 16px !important;
  height: 16px !important;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(79, 70, 229, 1) 100%
  );
  outline: none;
  margin-top: 8px;
}

.dynamic-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  outline: none;
  margin-top: 8px;
  background: transparent; /* background is dynamic from inline style */
}

/* Webkit (Chrome, Safari) */
.dynamic-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--thumb-color, #4f46e5);
  cursor: pointer;
  border: none;
}

/* Firefox */
.dynamic-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--thumb-color, #4f46e5);
  cursor: pointer;
  border: none;
}

// ////////////////////////////////////////////////////////


.feature-sidebar {
  position: fixed;
  top: 60px;
  // right: 0;
  width: 320px;
  height: 92vh;
  background: #fff;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* LTR: stick to the right */
.feature-sidebar.ltr {
  right: 0;
}

/* RTL: stick to the left */
.feature-sidebar.rtl {
  left: 0;
}

.feature-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.feature-sidebar-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.feature-sidebar-body {
  padding: 12px;
}

.feature-sidebar-body table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.feature-sidebar-body th,
.feature-sidebar-body td {
  padding: 6px 8px;
  border-bottom: 1px solid #eee;
  word-break: break-word;
}

.feature-sidebar-body tr:nth-child(even) {
  background-color: #fafafa;
}