//TODO: check-theme-colors
//colors
$menu-list-bg: var(--headline_dark);
$menu-list-item-border-color: var(--headline);
$menu-list-item-txt: var(--third);
$menu-list-border-color: var(--secondary_500);
$active-menu-btn-color: var(--component_subBG);
$active-menu-btn-stroke: var(--secondary_500);
$switch-checked: var(--component_subBG);
$switch-nonChecked: #738c96;
$switch-button-circle-color: var(--third);

//padding
$menu-list-item-padding: 8px 0px;

//margin
$menu-list-item-margin: 0px 8px;
$menu-list-item-slider-margin: 0px 6px;

//border
$menu-list-item-border: 1px solid $menu-list-item-border-color;
$switch-Button-circle-border: 6px solid $switch-button-circle-color;

//border-radius
$switch-Button-circle-border-radius: 50%;

//box-shadow
$menu-list-box-shadow: 0px 3px 6px #00000029;

.map-layers-menu {
    /*min-width: 225px !important;*/
    width: 225px;
    border: 1px solid var(--secondary_500);

    &.ant-dropdown:before {
        bottom: auto;
    }


    .ant-dropdown-menu-submenu-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    //
    > .ant-dropdown-menu {
        .ant-dropdown-menu-title-content {
            width: 100%;

            .inline-menu-overlay {
                max-height: unset;
                padding: 0;
            }

            .legend-tool-container > .legend-map-tool-container .esri-legend__service .esri-legend__layer-body {
                margin: 0;
            }

            .legend-tool-container > .legend-map-tool-container .esri-legend__service {
                padding: 0;
            }

            .legend-tool-container > .legend-map-tool-container .esri-legend__service .esri-legend__layer-cell.esri-legend__layer-cell--info {
                word-break: break-word;
                font-size: var(--fs-s2);
            }
        }
    }
}

.spmn-theme.map-layers-menu,
.spmn-theme.map-layers-menu:hover,
.spmn-theme.map-layers-menu:focus {
  .ant-dropdown-menu {
    background-color: $menu-list-bg;
    border-color: $menu-list-border-color;
  }
  .ant-dropdown-menu-item {
    background-color: $menu-list-bg;
    padding: 0px;
  }
}
.map-layers-menu .ant-dropdown-menu-item:only-child .menu-list-item {
  border: none;
}

.menu-list-item {
    width: calc(100% - 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $menu-list-item-margin;
    padding: $menu-list-item-padding;
    color: $menu-list-item-txt;
    text-transform: capitalize;
    border-bottom: $menu-list-item-border;
    font-size: var(--fs-s2);
    font-weight: bold;
    padding: 0;

    .ant-slider-wrapper {
        margin: $menu-list-item-slider-margin;
        width: calc(100% - 160px);
    }

    .ant-input-number-input {
        height: 20px;
    }

    .ant-input-number-warper .ant-input-number {
        width: 40px;
    }
}
.map-layers-menu-btn {
  svg {
    fill: $active-menu-btn-color;
    stroke: $active-menu-btn-stroke;
  }
}

.custom-switch-btn {
  background: $switch-nonChecked;
  .ant-switch-handle::before {
    background-color: $switch-nonChecked;
  }
  .ant-switch-handle {
    border: $switch-Button-circle-border;
    border-radius: $switch-Button-circle-border-radius;
  }
  &--checked.ant-switch-checked {
    background: $switch-checked !important;
    .ant-switch-handle::before {
      background-color: $switch-checked;
    }
  }
}
