//TODO: check-theme-colors
//colors
$map-layers-toolbar-border-color: var(--secondary_300);
/*$filter-bg: var(--headline_dark);*/
$filter-bg: var(--gray_0);
$filter-border-color: var(--third);
$switch-button-circle-color: var(--third);
$switch-visible: var(--component_subBG);
$switch-mixed: var(--secondary_400);
$switch-nonVisible: var(--primary_400);

//padding
/*$filter-padding: 10px 18px 10px 12px;
$filter-padding-rtl: 10px 12px 10px 18px;*/
$filter-padding: 10px 12px 10px 12px;
$filter-padding-rtl: 10px 12px 10px 12px;
$requests-padding: 10px 12px;

//margin
$toolbar-margin: 8px;

//border
$map-layers-toolbar-border: 0.5px solid $map-layers-toolbar-border-color;
$switch-Button-circle-border: 6px solid $switch-button-circle-color;

//border-radius
$switch-Button-circle-border-radius: 50%;

//fonts
$filter-font: var(--fs-md);

.map-layers-toolbar {
    width: 100%;
    /*border-top: $map-layers-toolbar-border;
    border-bottom: $map-layers-toolbar-border;
    margin-bottom: $toolbar-margin;*/

    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $filter-bg;
        /*padding: $filter-padding;*/
        margin: $filter-padding;
        padding: 2px 8px;
        border-radius: 20px;
        border: 1px solid var(--secondary_400);

        [dir='rtl'] & {
            /*padding: $filter-padding-rtl;*/
            margin: $filter-padding-rtl;
        }

        .ant-select-auto-complete {
            /*width: 80%;*/
            width: 90%;
        }

        button {
            svg {
                width: 24px;
                height: 24px;
            }
        }

        .ant-select-auto-complete,
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            height: 30px;
        }

        .ant-select-selection-placeholder {
            font-style: italic;
            font-size: $filter-font;
        }

        .ant-select-single .ant-select-selector .ant-select-selection-search {
            left: 0px;
            right: 0px;
        }

        .ant-select-auto-complete .ant-select-selection-search-input {
            font-size: $filter-font;
        }
    }

    &__requests {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: $requests-padding;
    }

    &__request {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        flex: 1 0;

        & span {
            padding: 0px 4px;
        }
    }
}

.map-layers-toolbar__switch-contr {
  position: relative;
}

.map-layers-toolbar__switch {
  height: 22px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 1px;
  min-width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.map-layers-toolbar__switch--before {
  left: 1px;
  [dir='rtl'] & {
    right: 23px;
  }
}

.map-layers-toolbar__switch--after {
  left: 23px;
  [dir='rtl'] & {
    right: 1px;
  }
}

.map-layers-toolbar__request,
.map-layers-toolbar__request--nonVisible {
  button,
  .ant-switch-handle::before {
    background-color: #738c96;
  }

  .ant-switch-handle {
    left: 3px;
    [dir='rtl'] & {
      right: 3px;
    }
    border: $switch-Button-circle-border;
    border-radius: $switch-Button-circle-border-radius;
  }
}

.map-layers-toolbar__request--visible {
  button,
  .ant-switch-handle::before {
    background-color: $switch-visible !important;
  }

  .ant-switch-handle {
    left: 23px;
    [dir='rtl'] & {
      right: 23px;
    }
    border: $switch-Button-circle-border;
    border-radius: $switch-Button-circle-border-radius;
  }
}
.map-layers-toolbar__request--mixed {
  button {
    background-color: $switch-mixed;
  }
  .ant-switch-handle::before {
    background-color: $switch-visible;
  }

  .ant-switch-handle {
    left: 13px;
    [dir='rtl'] & {
      right: 13px;
    }
    border: $switch-Button-circle-border;
    border-radius: $switch-Button-circle-border-radius;
  }
}
