//TODO: check-theme-colors
//color
$editable-layer-txt-color: #fcd79f;
$active-session-color: #0074ff;
$out-of-scale: var(--headline_light);

//padding
$active-session-item-padding: 0px 0px 0px 4px;
$active-session-item-padding-rtl: 0px 4px 0px 0px;
/*$item-padding: 0px 0px 0px 4px;
$item-padding-rtl: 0px 4px 0px 0px;*/
$item-padding: 0px 0px 0 16px;
$item-padding-rtl: 0 16px 0 0;

//margin
$editable-icon-margin: 0px 0px 0px 12px;
$editable-icon-margin-rtl: 0px 12px 0px 0px;

//border
$active-session-border: 1px solid $active-session-color;
$transparent-border: 1px solid transparent;

.map-layers-item {
    display: flex;
    align-items: center;

    &__title {
        flex: 1;
        overflow: hidden;

        .app-icon {
            margin: $editable-icon-margin;

            [dir='rtl'] & {
                margin: $editable-icon-margin-rtl;
            }
        }

        border: $transparent-border;
        padding: $item-padding;
        /*[dir='rtl'] & {
            padding: $item-padding-rtl;
        }*/
    }

    &__layer-title {
        /*white-space: nowrap;*/
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        /*color: var(--secondary_500);*/
        color: var(--primary_600);
        font-weight: bold;
        font-size: 12px;
        margin: 0 4px;
        line-height: 12px;

        &--active {
            font-weight: bold;
        }
    }

    &__title-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
        /*        display: block;
        word-wrap: break-word;*/
        > .app-icon {
            width: 25px;
            height: 25px;
            margin: 0;
        }
    }
}

.map-layers-item__layer-title {
  .ant-tree .ant-tree-node-content-wrapper {
    line-height: 20px;
  }
}

.map-layers-item__layer-title--editable {
  color: $editable-layer-txt-color;
}

.map-layers-item__title--editable .app-icon svg {
  color: $editable-layer-txt-color;
}

.map-layers-item__title--out-of-scale {
  .app-icon svg {
    color: $out-of-scale;
  }
  color: $out-of-scale;
  opacity: 0.5;
}

.map-layers-item__title--active-session {
  color: $active-session-color;
  border: $active-session-border;
  padding: $active-session-item-padding;
  [dir='rtl'] & {
    padding: $active-session-item-padding-rtl;
  }
  .app-icon svg {
    color: $active-session-color;
  }
}
/*.map-layers-item_3D{
 color: red !important ;
}*/