.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  // border-bottom: 1px solid #737373;
  .header-right {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    img {
      cursor: pointer;
      &:last-child {
        [dir="rtl"] & {
          transform: rotate(180deg);
        }
      }
    }
    .header-avatar {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      align-items: center;
      .avatar-img {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          transform: rotate(360deg) !important;
        }
      }
      .user-info {
        display: flex;
        flex-direction: column;
        h4 {
          margin: 0;
          color: #373e62;
          font-size: 0.875rem;
          line-height: 20px;
          white-space: nowrap;
        }
        span {
          color: #373e62;
          font-size: 0.77rem;
          font-weight: 400;
          line-height: 16px;
          white-space: nowrap;
        }
      }
    }
  }
  .langImg {
    [dir=rtl] & {
      filter: invert(.7)
    }
  }
}
