.search-result {
  max-width: 800px;
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  // height: 82vh;
  height: calc(100% - 40px);
  background: #f5f5f4;
  position: relative;
  padding: 0.5rem 0 1rem;

  .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 1rem 0.6rem;
    border-bottom: 1px solid #a3a3a3;
    [dir="rtl"] & {
      padding: 0 0.6rem 1rem 1rem;
    }

    .result-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.2rem;
      h4 {
        font-size: 1.125rem;
        margin-bottom: 20px;
        font-weight: 600;
        color: #110e25;
        margin: 0;
      }
    }
    .result-header-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  .feature-layers {
    list-style-type: none; 
    padding: 0;             
    margin: 0;              
    display: flex;
    flex-direction: column;
  }

  .feature-layer {
    padding: 0;       
    margin: 0;       
    display: flex;
    flex-direction: column;
  }

  .layer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #110e25;
    transition: background-color 0.2s ease;
    padding: 0.5rem 1rem 0.5rem 1.2rem;
    font-size: 0.875rem;
    border-bottom: 1px solid #ffff;
    [dir="rtl"] & {
      padding: 0.5rem 1.2rem 0.5rem 1rem;
    }

    &.expanded {
      background: #e5e5e5;
    }
  }



  .elements-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f5f5f4;
    padding: 0 1rem;
  }
  
    .element-item {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid #d4d4d4;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    &:last-child {
      border-bottom: 0;
    }
  }

}
