
.LayerList-tool-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    z-index: 1000;
  }

.LayerList-tool-container.hidden {
    display: none;
  }
  
  .LayerList-tool-container.visible {
    display: block;
    /* Add any other styling you want for the visible state */
  }