.trace-widget {
  color: #001934;
  background: #f5f5f4;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  min-width: 320px;

  .trace-content {
    height: 100%;
    width: 100%;

    .trace-input {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      height: 100%;

      .trace-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        color: #110e25;
        line-height: 28px;
        border-bottom: 1px solid #a3a3a3;

        h4 {
          font-size: 1.13rem;
          margin: 0 1rem;
        }

        img {
          margin: 0 1rem;
        }
      }

      .trace-body {
        padding: 1rem;

        label {
          color: #342b6e;
          font-size: 0.875rem;
          margin-bottom: 0.5rem;
          font-weight: 600;
          display: inline-block;
        }

        .point-header {
          margin-bottom: 0.625rem;

          .point-type {
            color: #342b6e;
            font-size: 0.875rem;
            text-transform: capitalize;
          }

          .point-btn {
            font-size: 0.875rem;
            gap: 0.5rem;
            width: auto;
            height: auto;
            display: flex;
            height: 32px;
            padding: 12px 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border: 1px solid #d6d3d1;
            background: #e7e5e4;
            color: #57534e;
          }
        }

        .nodata-select {
          display: flex;
          padding: 8px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 8px;
          border: 2px solid #a3a3a3;
          margin-bottom: 1rem;
          min-height: 200px;
          @media screen and (max-width: 1750px) {
            min-height: 150px;
          }
          @media screen and (max-width: 1650px) {
            min-height: 120px;
          }
          @media screen and (max-width: 1400px) {
            min-height: 100px;
          }
          span {
            color: #a3a3a3;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
          }
        }
      }

      .btn-tracing {
        display: flex;
        height: 32px;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid #d6d3d1;
        background: #e7e5e4;
        cursor: pointer;
        h4 {
          color: #57534e;
          font-size: 0.875rem;
        }
      }
    }
  }
}

/* Tabs */
.trace-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.trace-tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  color: #00193466;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  border-radius: 6px;
}

.trace-tab:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #00193466;
  border-bottom: 3px solid #00193466;
}

.trace-tab.active {
  border-bottom: 3px solid #001934;
  font-weight: bold;
  color: #001934;
}

/* Containers */
.trace-content {
  width: 100%;
  overflow-y: auto;
}

.trace-input input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.trace-input button {
  width: 100%;
  padding: 10px;
  background-color: #001934;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.trace-input button:hover {
  background-color: #001934;
}
