.map_setting_container {
    position: absolute;
    inset: 0 0 auto auto;
    width: 100%;
    height: 100%;
    background-color: var(--secondary_100);
    z-index: 1001;
    > .card {
        background-color: transparent;
        > .card-body {
            overflow: auto;
            > div {
                // width: 75%;
            }
        }
    }
}

.selected_fields_list {
    display: flex;
    flex-wrap: wrap;

    > li {
        border-radius: .25rem;
        padding: .15rem .5rem;
        border: 1px solid var(--secondary_200);
        background-color: #ede4e0;
        color: var(--secondary_900);
        margin: .025rem;
        font-size: .75rem;
    }
}

.p-multiselect-panel.mapSetting-layer-panel {
  
    .p-multiselect-header {
      display: none;
    }
}