.selection-container {
  width: 320px;
  position: relative;
  height: 100%;
  .selection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 1rem 0.6rem;
    border-bottom: 1px solid #a3a3a3;
    [dir="rtl"] & {
      padding: 0 0.6rem 1rem 1rem;
    }
  }
  .feature-layers {
  }
}
.reset-btn {
}
.selection-body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}
.layer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  /* color: #34495e; */
  color: #110e25;
  background: var(--zinc-100, #f4f4f5);
  transition: background-color 0.2s ease;
  padding: 0.5rem 1rem 0.5rem 1.2rem;
  font-size: 0.875rem;
  border-bottom: 1px solid #ffff;
  [dir="rtl"] & {
    padding: 0.5rem 1.2rem 0.5rem 1rem;
  }
}
.layer-header.expanded {
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
.group-header span {
  font-size: 0.875rem;
  color: #110e25;
}
.type-header span,
.object-header span {
  font-size: 0.875rem;
  color: #110e25;
}
.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-bottom: 1px solid #ffff;
  background-color: #e5e5e5;
  cursor: pointer;
  font-weight: 500;
  color: #eef2ff;
  transition: background-color 0.2s ease;
  font-size: 0.875rem;
  [dir="rtl"] & {
    padding: 0.5rem 2rem 0.5rem 1rem;
  }
}

/* Asset Type Code section */
.asset-types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.asset-type {
  background-color: #e5e5e5;
}

.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #4a5568;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  [dir="rtl"] & {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
}

.elements-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f5f5f4;
  padding: 0 1rem;
}

.element-item {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 0.5px solid #d4d4d4;
  display: flex;
  justify-content: space-between;
  &:last-child {
    border-bottom: 0;
  }
}

/* Object Header */
.object-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
}

/* Element details */
.element-item pre {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  margin-top: 8px;
}
.element-details-table table {
  width: 100%;
  border-collapse: collapse;
}

.element-details-table td {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.element-details-table td.detail-key {
  font-weight: 600;
  color: #2c3e50;
  width: 30%;
}

.element-details-table td.detail-value {
  color: #4a5568;
  word-break: break-word;
}

.header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
