.validate-container {
    .validate_loading {
        display: flex;
        flex-direction: column;
        align-items: center;

        .apploader_container {
            flex-shrink: 0;
            transform: scale(.5);
        }

        .validate_txt {
            flex: 1 1 auto;
            font-size: 1rem;
            color: var(--gray_800);
            border: 0;
            background: transparent;
        }
    }

    .totalResult {
        font-size: 0.8rem;
        color: var(--gray_700);
        border: 0;
        background: transparent;
        display: flex;
        justify-content: flex-end;
    }
}