@use "sass:map";
$palettes: (
  gray: (
    00: #FFFFFF,
    100: #f5f8fa,
    200: #eff2f5,
    300: #E4E6EF,
    400: #B5B5C3,
    500: #A1A5B7,
    600: #7E8299,
    700: #5E6278,
    800: #3F4254,
    900: #181C32,
  ),
  primary: (
    100: #FBE8CC,
    200: #F8CD9A,
    300: #ECA566,
    400: #DA7E3F,
    500: #C24A0A,
    600: #A63407,
    700: #8B2205,
    800: #701403,
    900: #5D0A01,
  ),
  secondary: (
    100: #FAF9F7,
    200: #F6F3F0,
    300: #E4E0DC,
    400: #CAC5C1,
    500: #A8A29E,
    600: #907D73,
    700: #785B4F,
    800: #613C32,
    900: #50261E,
  ),
  success: (
    100: #DFF8CE,
    200: #B9F29F,
    300: #83D96A,
    400: #51B440,
    500: #1A8213,
    600: #0D6F0F,
    700: #095D12,
    800: #064B12,
    900: #033E13,
  ),
  info: (
    100: #CFE1FB,
    200: #A1C1F8,
    300: #6F9AEC,
    400: #4976D9,
    500: #1747C1,
    600: #1036A5,
    700: #0B288A,
    800: #071B6F,
    900: #04135C,
  ),
  warning: (
    100: #FBECCB,
    200: #F7D598,
    300: #E9B162,
    400: #D38C3B,
    500: #B75C07,
    600: #9D4605,
    700: #833403,
    800: #6A2402,
    900: #571901,
  ),
  danger: (
    100: #FADED0,
    200: #F5B7A4,
    300: #E18271,
    400: #C3514A,
    500: #9B1B1E,
    600: #851320,
    700: #6F0D21,
    800: #59081F,
    900: #4A051F,
  ),
);