//here styles of specific project
/*#region global*/
ol,
ul,
dl {
    margin: 0;
    padding: 0;
}

/* WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 4px;
    /* Width of the vertical scrollbar */
    height: 4px;
    /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
    border-radius: 4px;
    /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: var(--primary_500);
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary_600);
    /* Color of the thumb on hover */
}

/* Firefox */
//   * {
//     scrollbar-width: thin; /* Options: auto, thin, none */
//     scrollbar-color: var(--primary_500) #f1f1f1; /* Thumb color and track color */
//   }

.btn_add {
    margin-inline-end: 1rem;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--primary_500);
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    width: auto;
    height: 40px;
    border: 1px solid var(--primary_500);
    margin: 0;
}

.action-btns {
    display: flex;
    margin-top: auto;
    border-top: 1px solid var(--gray_400);
    gap: .8rem;
    justify-content: end;
    align-items: center;
}

.action-btns .trace {
    margin-inline-end: 1rem;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--primary_500);
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    width: auto;
    height: 40px;
    border: 1px solid var(--primary_500);
}

.action-btns .reset {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #d6d3d1;
    background: #e7e5e4;
    font-size: 0.875rem;
    color: #57534e;
    margin-top: 1rem;
    width: auto;
    height: 40px;
}

.element-item-noData {
    padding: 0.5rem 1rem 0.5rem 1.2rem;
    font-size: 0.75rem;
    color: var(--gray_700);
}

// .type-header span,
.object-header span {
    font-size: 0.75rem;
    color: var(--gray_700);
}

.layer-header,
.search-result .layer-header,
.group-header,
.group-header span,
.type-header span {
    font-size: 0.75rem;
    color: var(--gray_800);
    font-weight: 600;
}

.feature_menu {
    [dir=rtl] & {
        direction: rtl;
    }

    background-color: var(--secondary_100);
    width: 14rem;

    &.p-menu .p-submenu-header {
        padding: 0.5rem .75rem;
        background-color: var(--secondary_100);
        color: var(--gray_900);
        font-weight: 500;
    }

    .p-menu-list {
        .p-menuitem {
            padding: 0;
            color: var(--gray_900);
            font-weight: 500;
            margin-bottom: .15rem;
            > div {
                padding: 0.5rem 1.15rem;
                // &.opened {
                //     background: var(--secondary_300);
                // }
            }

            &:hover {
                background-color: var(--secondary_200);
            }

            &.item_unselect {
                border-top: 1px solid var(--gray_500);
                border-bottom: 1px solid var(--gray_500);
                margin: .5rem 0;
            }
        }
    }
}

.btn_primary {
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    width: auto;
    height: 35px;
    color: #fff;
    background: var(--primary_500);
    border: 1px solid var(--primary_500);
    &:hover {
        background-color: #001934;
        border-color: #001934;
    }
}

.btn_secondary {
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    width: auto;
    height: 35px;
    color: #57534e;
    border: 1px solid #d6d3d1;
    background: #e7e5e4;
    &:hover {
        background-color: var(--secondary_300);
        border-color: var(--secondary_300);
    }
}

.elements-list-global {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    padding: 0 .5rem;
    overflow: auto;
}

.elements-list-global .element-item {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 0.5px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
}

.elements-list-global .object-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    border-radius: 6px;
    gap: 0.3rem;
}

.elements-list-global .object-header span {
    font-size: 0.75rem;
    color: var(--gray_700);
    &.item_name {
        font-weight: 600;
    }
}
.form_group {
    .lbl {
        font-size: 0.8rem;
        color: #342b6e;
        font-weight: 500;
    }
}

/*#endregion global*/

/*#region map*/
.the_map {
    &.customMoveMapElements {
        .esri-ui-bottom-left {
            left: calc($searchPanelWidth + $esriUiInnerMapX);

            [dir=rtl] & {
                left: auto;
                right: calc($searchPanelWidth + $esriUiInnerMapX);
            }
        }

        .esri-ui-top-left {
            height: 100%;
            background: var(--secondary_200);
            border-right: 1px solid var(--secondary_400);

            /////
            height: calc(100% + $esriUiInnerMapY + $esriUiInnerMapY);
            background: var(--secondary_200);
            // padding-top: $esriUiInnerMapY;
            top: calc(-1 * $esriUiInnerMapY);
            left: calc(-1 * $esriUiInnerMapX);
            padding: $esriUiInnerMapY $esriUiInnerMapX;

            /// 
            [dir=rtl] & {
                border-right: 0;
                border-left: 1px solid var(--secondary_400);
            }

            .find-widget-container {
                height: 100%;
                margin-bottom: 0;
            }
        }

        .custom-buttons-container {
            left: calc(50% + calc($searchPanelWidth/2));

            [dir=rtl] & {
                left: auto;
                right: calc(50% + calc($searchPanelWidth/2));
            }
        }
    }
}

/*#endregion map*/

/*#region primeReact*/
.p-component {
    font-size: .85rem;
    border-radius: .5rem;
}

.p-multiselect .p-multiselect-label {
    padding: 0.25rem 0.5rem;
}

.p-checkbox.p-highlight .p-checkbox-box {
    border-color: var(--primary_500);
    background: var(--primary_500);
    color: var(--gray_100);
}

.p-checkbox.p-highlight .p-checkbox-box .p-checkbox-icon {
    color: var(--gray_100);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: var(--secondary_300);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: var(--secondary_200);
}

.p-inputswitch {
    width: 2.5rem;
    height: 1.25rem;
}

.p-inputswitch .p-inputswitch-slider:before {
    width: .95rem;
    height: .95rem;
    left: 0.05rem;
    margin-top: -0.5rem;
}

.p-inputswitch:not(.p-disabled):has(.p-inputswitch-input:hover).p-highlight .p-inputswitch-slider,
.p-inputswitch.p-highlight .p-inputswitch-slider {
    background: var(--primary_500);
}

/*#endregion primeReact*/

/*#region inputSwitch*/
.form_group.form_group_switch {
    display: flex;
    align-items: center;
    .lbl {
        font-size: .8rem;
        margin-left: .5rem;
        [dir=rtl] & {
            margin-left: 0;
            margin-right: .5rem;
        }
    }
}
/*#endregion inputSwitch*/

/*#region dataGrid*/
.p-datatable .p-datatable-thead>tr>th {
    background-color: var(--secondary_500);
    color: var(--gray_100);
}

.p-datatable .p-datatable-tbody>tr {
    background: var(--secondary_100);
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-odd {
    background: var(--secondary_200);
}

.p-datatable .p-datatable-tbody>tr .p-inputtext {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

/*#endregion dataGrid*/

/*#region sidebar esriWidget*/
.sidebar_widget {
    position: fixed;
    height: calc(100% - $headerHeight);
    max-height: unset !important;
    top: $headerHeight;
    right: 0;
    width: 320px;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--secondary_200);
    border-left: 1px solid var(--secondary_400);

    [dir=rtl] & {
        border-left: 0;
        border-right: 1px solid var(--secondary_400);
    }

    .esri-widget--panel {
        width: 100% !important;
        background: transparent;
    }
}

.sidebar_widget_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary_500);
    padding: .5rem;
    flex-shrink: 0;

    .sidebar_widget_icon {
        height: 1rem;
        margin-right: .25rem;

        [dir=rtl] & {
            margin-right: 0;
            margin-left: .25rem;
        }
    }

    .sidebar_widget_close {
        cursor: pointer;
    }

    .title {
        font-size: 1rem;
    }
}

.sidebar_widget_body {
    flex: 1 1 auto;
    padding: .5rem;
}

/*#endregion sidebar esriWidget*/

/*#region layerList*/
.sidebar_widget_body {
    .esri-layer-list__list {
        height: 100%;
        overflow: auto;
        padding: 0 2px;

        .esri-layer-list__item {
            background-color: transparent;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .esri-layer-list__item-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .esri-layer-list__item-actions-menu-item {
        margin: 0;
        padding: 0;
        margin-right: 8px;
        background-image: url(../images/chevron-right.svg);
        background-size: 16px;
        width: 16px;
        height: 16px;
        transition: all .1s ease-in-out;

        [dir=rtl] & {
            margin-right: 0;
            margin-left: 8px;
        }

        &.esri-layer-list__item-actions-menu-item--active {
            transform: rotate(90deg);
            background-color: transparent;
        }

        >span.esri-icon-default-action {
            display: none;
        }
    }

    .esri-layer-list__item-container {
        padding: .5rem .5rem;
        border: 0;
    }

    .esri-layer-list__list .esri-slider {
        background-color: var(--secondary_300);

        .esri-slider__label {
            font-size: .65rem;
            font-weight: bold;
        }

        .esri-slider--horizontal .esri-slider__label {
            top: -32px;
        }
    }

    .esri-layer-list-panel {
        margin: 8px 16px 12px;
    }

    .esri-layer-list__item-label .esri-icon-visible,
    .esri-layer-list__item-label .esri-icon-non-visible {
        background-size: 16px;
        width: 16px;
        height: 16px;
        transition: all .1s ease-in-out;

        &::before {
            display: none;
        }
    }

    .esri-layer-list__item-label .esri-icon-visible {
        background-image: url(../images/Checkbox-checked.svg);
    }

    .esri-layer-list__item-label .esri-icon-non-visible {
        background-image: url(../images/Checkbox.svg);
    }

    .esri-layer-list__item-title {
        color: var(--gray_900);
        font-size: .8rem;
        font-weight: bold;
    }
}

/*#endregion layerList*/
/*#region basemap*/
.basemap-gallery-container {
    .sidebar_widget_icon {
        filter: invert(1);
    }

    .sidebar_widget_body {
        &.esri-basemap-gallery {
            width: 100% !important;
            background-color: transparent;
        }

        .esri-basemap-gallery__item-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;
            margin: 0;
            gap: 8px 0;
            overflow: auto;
            height: 100%;
            padding: 0 4px;
        }

        .esri-basemap-gallery__item {
            display: flex;
            position: relative;
            width: 50%;
            flex-direction: column;
        }

        .esri-basemap-gallery__item-title {
            color: var(--gray_900);
            font-weight: bold;
        }

        .esri-basemap-gallery__item--selected,
        .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover,
        .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
            background-color: var(--secondary_300);
            border-color: var(--secondary_500);
        }
    }
}

.esri-basemap-gallery:focus-within {
    outline: none !important;
}

.esri-basemap-gallery__item-thumbnail {
    width: 93%;
}


/*#endregion basemap*/

/*#region sub sidebar widgets*/
.subSidebar-widgets-container {
    width: 320px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .subSidebar-widgets-header {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
        border-bottom: 1px solid #a3a3a3;

        [dir="rtl"] & {
            padding: 0 1rem 1rem 1rem;
        }
    }
    .subSidebar-widgets-body {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
    }
}

/*#endregion sub sidebar widgets*/

/*#region loader*/
.apploader_container {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apploader {
    font-size: 10px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: appLoading 1.1s infinite ease;
    transform: translateZ(0);
    display: block;
  }
  @keyframes appLoading {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #231d49, 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.5), -1.8em -1.8em 0 0em #383fd4;
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em #383fd4, 1.8em -1.8em 0 0em #231d49, 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.5), 1.8em -1.8em 0 0em #383fd4, 2.5em 0em 0 0em #231d49, 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.5), 2.5em 0em 0 0em #383fd4, 1.75em 1.75em 0 0em #231d49, 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.5), 1.75em 1.75em 0 0em #383fd4, 0em 2.5em 0 0em #231d49, -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.5), 0em 2.5em 0 0em #383fd4, -1.8em 1.8em 0 0em #231d49, -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.5), -1.8em 1.8em 0 0em #383fd4, -2.6em 0em 0 0em #231d49, -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.5), -2.6em 0em 0 0em #383fd4, -1.8em -1.8em 0 0em #231d49;
    }
  }
  
/*#endregion*/
/*#region splitter*/
.p-splitter .p-splitter-gutter {
    position: relative;
}
.p-splitter-horizontal > .p-splitter-gutter > .p-splitter-gutter-handle {
    height: 30px;
    width: 20px;
    position: absolute;
    left: -50%;
    z-index: 1;
    border-radius: .25rem;
    transform: translateX(-35%);
    background-image: url('../images/splitterHand.svg');
    background-position: center;
    background-color: transparent;
}
.p-splitter .p-splitter-gutter {
    background: var(--secondary_600);
    width: 3px !important;
}
/*#endregion splitter*/

/*#region features sidebar*/
$top: 60px;
.feature-sidebar-prop {
  &.feature-sidebar {
    position: fixed !important;
    top: $top;
    width: 320px;
    height: calc(100% - $top);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 998;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary_200);
    padding: 0;
    border-left: 1px solid var(--secondary_400);
    box-shadow: none;

    [dir=rtl] & {
      border-left: 0;
      border-right: 1px solid var(--secondary_400);
    }
  }

  /* LTR: stick to the right */
  &.feature-sidebar.ltr {
    right: 0;
  }

  /* RTL: stick to the left */
  &.feature-sidebar.rtl {
    left: 0;
  }

  .feature-sidebar-footer {
    display: flex;
    gap: .5rem;
    padding: .75rem;
  }

  .feature_btn {
    border: 1px solid var(--secondary_400);
    border-radius: .5rem;
    text-align: center;
    font-size: .75rem;
    width: calc(100% / 3);
    padding: .5rem .25rem;

    &:hover,
    &.active {
      background-color: var(--secondary_300);
    }

    span {
      margin-top: .75rem;
    }
  }

  .prop_container {
    height: 100%;
    ;
  }

  .feature-sidebar-body {
    .key {
      color: #78716c;
      width: 50%;
    }

    .val {
      color: var(--gray_900);
    }
  }

  .feature-sidebar-header.propertites {
    border-bottom: 1px solid #a3a3a3;
  }

  .feature-sidebar-body-container {
    .title {
        font-size: .75rem;
        margin-bottom: 1rem !important;
    }
  }
}
/*#endregion features sidebar*/